.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    "search map map map"
    "chart map  map map"
    "stats map map map"
    "stats map map map";
  height: calc(100% - 47px);
  column-gap: 5px;
  row-gap: 5px;
}
app-chartdaily {
  grid-area: chart;
}

app-location-search {
  grid-area: stats;
}

app-map {
  grid-area: map;
}
// absolute positioning
alert {
  position: absolute;
  top: 5vh;
  left: 30%;
  transform: translate(0%, 0%);
}

