.box-heading {
  background-color: white;
  color: #1214ac;
  text-align: center;
  box-shadow: 0 0 2px #333333;
  margin: 7px;
  border: 5px;
  padding: 5px;
  content: 5px;
}
canvas {
  width: 100% !important;
}
