<div class="box-heading">
  <div class="example-button-row">
    <button class="butt" (click)="dailyChart()" mat-stroked-button>
      Daily
    </button>
    <button class="butt" (click)="MonthlyChart()" mat-stroked-button>
      Monthly
    </button>
    <button class="butt" (click)="AllTimeChart()" mat-stroked-button>
      To Date
    </button>
  </div>

  <canvas
    *ngIf="chartDataReady"
    baseChart
    [datasets]="barChartData"
    [labels]="barChartLabels"
    [options]="barChartOptions"
    [legend]="barChartLegend"
    [chartType]="barChartType"
    [colors]="barChartColors"
  >
  </canvas>
</div>
